#post-wrapper{
    width: 1000px;
    text-align: center;
    margin: 10px auto;
}

#left img, #right img{
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: cover;
    border: 1px solid #202020;
    border-radius: 20px;
}

.util-button{
    margin: 5px;
    height: 40px;
    width: 40px;
}

#profile img{
    margin: 0;
    height: 50px;
    width: 50px;
}

#profile img{
    border: 1px solid black;
    border-radius: 30px;
}

.container hr{
    margin: 5px;
}

#username{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 32px;
}

.interactions{
    font-size: 32px;
}
